@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body{
  
    font-family: 'Poiret One', cursive;
    color:white;
    background:#141313;;
}

.site-header{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.showcase{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:16px;
    place-content: center;
}

img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.heading{
    text-align: center;
}

@media(max-width:600px){
    .showcase{
        grid-template-columns: 1fr;
    }
}